body {
    background-color: white;
    font: 10pt Arial, Helvetica, sans-serif; 
}
.container {
    width: 600px;
    margin: 0 auto;
}
.div1 {
    background-color: rgb(250, 169, 77);
    width: 600px;
}
.div1 > h1 {
    font-weight: 900;
}
.div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.div2 > div {
    background-color: rgb(250, 169, 77);
    color: black;
    font-weight: 400;
    width: 130px;
    height: 45px;
}
span {  
    padding: 5px;
}
.div4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.child-div5 {
    display: flex;
}
.child-div5 > p {
    margin-left: 15px;
}
.div-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.long-div {
    background-color: black;
    width: 400px;
    height: 25px;
}
.long-div > p {
    color: white;
}
